<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title></head>
<body style="margin: 0 auto;text-align: center">
<form method="post" style="margin-top: 100px;align-self: center">
    <div>
        <span>用户名：</span>
        <input placeholder="手机号码或邮箱" required type="text" name="usr" style="width: 160px">
    </div>
    <div style="margin:20px 0 20px 0"><span>密&ensp;&ensp;码：</span>
        <input minlength="8" maxlength="16" placeholder="至少8位大小写字母和数字" required type="text" name="pwd" style="width: 160px">
    </div>
    <button type="submit">注册</button>
</form>
</body>

</html>